<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/chat-page.css">
    <link rel="stylesheet" href="/css/add-chat-group.css">
    <link rel="stylesheet" href="/css/group-description.css">
    <link rel="stylesheet" href="/css/add-files.css">
</head>
<body>

    <div class="container" id="container">

        <div class="chat-container" id="chat-container">

            <div class="search-chat-container">

                <div class="heading-add-chat">

                    <div class="heading">
                        <h2>Chat</h2>
                    </div>

                    <div class="add-chat">
                        <button id="create-chat-group" title="create chat/group" >+</button>
                    </div>
                </div>
                
                <div class="search-chat">
                    <input type="text" name="chat-name" id="chat-name" placeholder="search a chat">
                </div>
                
            </div>

            <div class="privatechat-groupchat" id="privatechat-groupchat">

                <div class="privatechat active-div" id="privatechat">
                    PRIVATE
                </div>

                <div class="groupchat" id="groupchat">
                    GROUP
                </div>
            </div>

            <div class="chat-list" id="chat-list">
            
                <!-- <div class="chat">
                    <p>User 1</p>
                </div> -->
            
            </div>

            <div class="group-chat-list" id="group-chat-list">

            </div>

        </div>

        <div class="empty-chat-page" id="empty-chat-page">
            <p>Click on any private chat or group.</p>
        </div>

        <div class="messages-container" id="messages-container">

            <div class="details" id="details">

                <div class="back">
                    <p><img  id="back-image" class="back-image" src="/images/back-arrow.jpg" alt="back"></p>
                </div>

                <!-- <div class="name-activity">
                    <p id="chat-name">User 1</p>
                    <p id="activity-status">Online</p>
                </div> -->
                
            </div>
            
            <div class="messages" id="messages" style="overflow-y:scroll;">

            </div>

            <div class="enter-message-container">
                
                <div class="file-text-inputs">
                    <input type="file" id="my-file"> <br>
                    
                    <input type="text" name="message-input" id="message-input" placeholder="enter message">
                </div>
                
                <div class="button-container">
                    <button id="send-button">Send</button>
                </div>
            
            </div>
        </div>
        
    </div>
    
    <div class="save-chat-name-overlay" id="save-chat-name-overlay">

        <div class="save-chat-name-overlay-inside">
            
            <div class="save-name-input-div" id="save-name-input-div">
            
                <div class="chat-name-heading">
                    <h2>Save chat name</h2>
                </div>
            
                <div class="save-name-input" id="save-name-input">
            
                    <label for="mobile">Mobile Number</label> <br>
                    <input type="text" id="mobile" name="mobile"> <br>
            
                    <label for="chat-name-input">Chat Name</label> <br>
                    <input type="text" id="chat-name-input" name="chat-name-input" placeholder="Enter chat name.."> <br>
            
                    <div class="save-chat-name-button-div">
                        <button id="save-chat-name-button">Save</button>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="create-chat-group-overlay" id="create-chat-group-overlay">

        <div class="create-chat-group-overlay-inside">

            <div class="create-private-group" id="create-private-group">
            
                <div class="private-group">
            
                    <div class="private active-div" id="private">
                        <p>Private</p>
                    </div>
            
                    <div class="group" id="group">
                        <p>Group</p>
                    </div>
            
                </div>
            
                <div class="private-details" id="private-details">
            
                    <label for="private-chat-name">Name</label> <br>
                    <input type="text" id="private-chat-name" name="private-chat-name" placeholder="Enter Name"> <br>
            
                    <label for="private-chat-number">Mobile</label> <br>
                    <input type="text" id="private-chat-number" name="private-chat-number" placeholder="Enter Mobile Number">
            
                    <div class="create-private-chat button">
                        <button id="create-private-chat-button">Create</button>
                    </div>
                </div>
            
                <div class="group-details" id="group-details">
            
                    <label for="group-chat-name">Name</label> <br>
                    <input type="text" id="group-chat-name" name="group-chat-name" placeholder="Enter Name"> <br>
                    
                    <label for="add-group-members">Add group members</label> <br>

                    <div class="group-members-display" id="group-members-display">

                    </div>

                    <input type="text" id="add-group-members" name="group-members-input" placeholder="Search...."> <br>

                    <div class="filtered-list-div">

                        <div class="filtered-list" id="filtered-list">
                        
                        </div>

                    </div>

                    <div class="create-group-chat button">
                        <button id="create-group-chat-button">Create</button>
                    </div>

                </div>
            
            </div>

        </div>   

    </div>

    <div class="group-description-overlay" id="group-description-overlay">

        <div class="group-description-overlay-inside">

            <div class="group-description-container" id="group-description-container">

                <div class="groupname-container">
                    <p id="groupname-in-description">Group name</p>
                </div>

                <div class="add-exit-buttons" id="add-exit-buttons">
                    <div class="exit-group">
                        <button id="exit-group-button">Exit</button>
                    </div>
                </div>
                
                <h2>Participants</h2>

                <div class="group-members-details-list" id="group-members-details-list" style="overflow-y:scroll;">

                </div>
            </div>

        </div>

    </div>

    <div class="add-participants-overlay" id="add-participants-overlay">

        <div class="add-participants-overlay-inside">

            <div class="add-participants-input-div">

                <label for="add-participants-input">Add Participants</label> <br>

                <div class="added-participants-display" id="added-participants-display">
                
                </div>

                <input type="text" id="add-participants-input" name="add-participants-input" placeholder="Search ...">

                <div class="filtered-participants-list-div">
                
                    <div class="filtered-participants-list" id="filtered-participants-list">
                
                    </div>
                
                </div>
                
                <div class="add-participants-button-div">
                    <button id="add-participants-button">Add Participants</button>
                </div>

            </div>

        </div>

    </div>

    <div class="media-file-image-overlay" id="media-file-image-overlay">

        <div class="media-file-image-overlay-inside">

            <div class="media-file-image-container">

                <img src="" alt="" id="image-overlay">

            </div>

        </div>

    </div>


    <div class="media-file-video-overlay" id="media-file-video-overlay">
    
        <div class="media-file-video-overlay-inside">
    
            <div class="media-file-video-container">
                
                <video src="" controls id="video-overlay"></video>
    
            </div>
    
        </div>
    
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat-page.js"></script>
    <script src="/js/add-chat-group.js"></script>
    <script src="/js/group-description.js"></script>
    <script src="/js/add-files.js"></script>
</body>
</html>