<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/public/css/chat-page.css">
</head>
<body>

    <div class="container" id="container">

        <div class="chat-container" id="chat-container">

            <div class="search-chat-container">

                <div class="heading-add-chat">

                    <div class="heading">
                        <h2>Chat</h2>
                    </div>

                    <div class="add-chat">
                        <button id="create-chat-group" title="create chat/group" >+</button>
                    </div>
                </div>
                
                <div class="search-chat">
                    <input type="text" name="chat-name" id="chat-name" placeholder="search a chat">
                </div>
                
            </div>

            <div class="chat-list" id="chat-list">
            
                <!-- <div class="chat">
                    <p>User 1</p>
                </div> -->
            
            </div>

        </div>

        <div class="empty-chat-page" id="empty-chat-page">
            <p>Click on any private chat or group.</p>
        </div>

        <div class="messages-container" id="messages-container">

            <div class="details" id="details">

                <div class="back">
                    <p><img  id="back-image" src="/public/images/back-arrow.jpg" alt="back"></p>
                </div>

                <!-- <div class="name-activity">
                    <p id="chat-name">User 1</p>
                    <p id="activity-status">Online</p>
                </div> -->
                
            </div>
            
            <div class="messages" id="messages" style="overflow-y:scroll;">

            </div>

            <div class="enter-message-container">
            
                <input type="text" name="message-input" id="message-input" placeholder="enter message">
            
                <div class="button-container">
                    <button id="send-button">Send</button>
                </div>
            
            </div>
        </div>
        
    </div>
    
    <div class="save-chat-name-overlay" id="save-chat-name-overlay">

        <div class="save-chat-name-overlay-inside">
            
            <div class="save-name-input-div" id="save-name-input-div">
            
                <div class="chat-name-heading">
                    <h2>Save chat name</h2>
                </div>
            
                <div class="save-name-input" id="save-name-input">
            
                    <label for="mobile">Mobile Number</label> <br>
                    <input type="text" id="mobile" name="mobile"> <br>
            
                    <label for="chat-name-input">Chat Name</label> <br>
                    <input type="text" id="chat-name-input" name="chat-name-input" placeholder="Enter chat name.."> <br>
            
                    <div class="save-chat-name-button-div">
                        <button id="save-chat-name-button">Save</button>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script src="/public/js/chat-page.js"></script>
</body>
</html>