<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>

    <div class="container">

        <header>

        </header>

        <main>

            <div class="signup-container">
                
                <div class="signup-heading">
                    <h2>Signup</h2>
                </div>

                <div class="signup-input">

                    <label for="username">Username</label> <br>
                    <input type="text" id="username" name="username" placeholder="Username"> <br>

                    <label for="email">Email</label> <br>
                    <input type="text" id="email" name="email" placeholder="Enter email"> <br>

                    <label for="mobile">Mobile number</label> <br>
                    <input type="text" id="mobile" name="mobile" placeholder="Enter mobile number"> <br>

                    <label for="password">Password</label> <br>
                    <input type="password" name="password" id="password" placeholder="Password"> <br>

                    <label for="conform-password">Conform Password</label> <br>
                    <input type="password" name="conform-password" id="conform-password" placeholder="conform password">

                    <div class="signup-button-container">
                        <button id="signup-button">Signup</button>
                    </div>

                </div>

                <div>
                    <p>Already have an account. <a href="./login.html">Login</a></p>
                </div>


            </div>
        </main>

    </div>
    
</body>
</html>