
.create-private-group{
    background-color: lightgray;
    border-radius: 10px;
}

.create-chat-group-overlay-inside{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.private-group{
    width: 500px;
    display: flex;
}

.private , .group{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.private:hover , .group:hover{
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
}

.button button{
    font-size: 18px;
    padding: 5px 20px;
}

.active-div{
    border-bottom: 3px solid green;
}

input{
    font-size: 18px;
    padding: 2px 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.private-details , .group-details{
    padding: 20px;
}

.group-details{
    display: none;
}

.create-chat-group-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}


.filtered-list-div{
    position: relative;
    display: inline-block;
    width: 100%;
}

.filtered-list{
    position: absolute;
    width: 100%;
}

.filtered-user{
    padding: 10px;
    background-color: lightskyblue;
    border-bottom: 1px solid black;
}

.filtered-user:last-child{
    border-bottom: none;
}

.group-members-display{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 500px;
}

.selected-user{
    display: flex;
    background-color: brown;
    min-width: 100px;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 10px;
}

.selected-user p{
    width: 80%;
    padding: 5px;
}

.selected-user button{
    border: none;
    background-color: brown;
    width: 20%;
    height: 100%;
    
    
}

.remove-user:hover{
    background-color: red;
}

@media(max-width: 600px){

    body{
        font-size: 15px;
    }

    .private-group{
        width: 100%;
    }

    .create-private-group{

        width: 90%;
    }

    .private , .group{
        width: 50%;
    }

    .group-members-display{
        width: 100%;
    }
}