.loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-bottom: 15px;
    margin-right: 10px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.media-file-image-overlay , .media-file-video-overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}


.media-file-image-overlay-inside , .media-file-video-overlay-inside{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.media-file-image-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.media-file-video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

#image-overlay{
    width: 100%;
    border: 5px solid rgb(87, 87, 240);
    border-radius: 10px;
}

#video-overlay{
    position: absolute;
    width: 75%;
    height: 80%;
    object-fit: contain;
    background-color: lightgray;
    border: 5px solid rgb(87, 87, 240);
    border-radius: 10px;
}

.messages-container{
    display: flex;
    flex-direction: column;
    display: none;

}

.display-container{
    height: 86vh;
}

.details{
    height: 60px;
}

.enter-message-container{
    height: 14vh;
}

.messages{
    height: 90%;
}

.message{
    max-width: 80%;
}


.media-file-image{
    width: 100%;
}

.media-file-video{
    width: 100%;
}

@media (max-width:650px){
    .group-description-container , .add-participants-input-div{
        width: 90%;
    }
    
    .group-description-container button{
        font-size: 15px;
    }

    .add-participants-input-div{
        padding: 10px;
    }

    .add-participants-input-div button{
        font-size: 15px;
    }

    .media-file-image-container {
        width: 100%;
    }

    
}


@media (max-width:475px){


    .admin-remove-details {
        width: 60%;
    }
}