
.create-private-group{
    background-color: lightgray;
    border-radius: 10px;
}

.create-chat-group-overlay-inside{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.private-group{
    width: 500px;
    display: flex;
}

.private , .group{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.private:hover , .group:hover{
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button button{
    font-size: 18px;
    padding: 5px 20px;
}

.active-div{
    border-bottom: 3px solid green;
}

input{
    font-size: 18px;
    padding: 2px 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.private-details , .group-details{
    padding: 20px;
}

.group-details{
    display: none;
}

.create-chat-group-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}